// Community colors
$navbarFont: #e3e7ea;
$navbarBg: #333;
$navbarBtn: #0077c8;

$table-row-hover-background-color: #969696;

// Import only what you need from Bulma
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/elements/table.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/components/level.sass';
@import '../node_modules/bulma/sass/layout/footer.sass';

.navbar {
  background-color: $navbarBg;
  height: 90px;
}

// SmartThings Logo
.navbar-item img {
  max-height: 3.75rem;
}

// Navbar Items
.navbar-item {
  color: $navbarFont;
  font-size: 23px;
  margin: 10px;
}

// General Buttons
.button {
  margin: 10px;
}

#navbar-button {
  background-color: $navbarBtn;
  color: $navbarFont;
}

a.navbar-item {
  text-decoration: underline;
}

a.navbar-item:hover {
  background-color: $navbarBg;
  color: $navbarFont;
}

#in-page-title {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 10rem;
}

// Device Info Table
#device-info-table {
  width: 568px;
}

.container.is-mobile {
  text-align: left;
}

.table.is-hoverable {
  width: 1029px;
}

.table th {
  width: 205px;
  height: 40px;
}

#device-select {
  cursor: pointer;
}

div.level {
  padding-inline: 152px;
  padding-top: 10px;
}

.level div {
  align-self: start;
  text-align: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
  text-align: initial;
}

.buttons.are-medium {
  margin-left: -10px;
}

#test-result-table {
  width: 1343px;
}

#test-result-table th {
  width: 175px;
  height: 63px;
}
